
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    
    <a class="navbar-brand" href="#">
      <a class="nav-link" routerLink="/"> <img src="/assets/Scribe-Logo.png"></a>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item" routerLinkActive="active" *ngIf="!loggedIn">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        
          <li class="nav-item" routerLinkActive="active" *ngIf="loggedIn">
            <a class="nav-link" routerLink="/myblogs">Myblog</a>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item" routerLinkActive="active" *ngIf="!loggedIn">
            

            <button type="button" class="btn btn btn-outline-light" routerLink="login">Login</button>
          </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="loggedIn">
            <a class="nav-link" routerLink="/">profile</a>
          </li>
          <li class="nav-item" routerLinkActive="active" *ngIf="loggedIn">
            <a class="nav-link" routerLink="/" (click)="logout()">Logout</a>
          </li>
      </ul>
      
    </div>

    
  </nav>